<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}

    <br>Enter strings to the first and second boxes</br>
    <br>Write "true" or "false" to the third box.</br>
    <br>Enter an limit value for words to the fourth box</br>


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
