<title>My application deployed automatically</title>
  <h1>Hello, World!</h1>
    Result is {{result}}

    <br>Enter strings to the first and second boxes</br>
    Write "true" or "false" to the third box.
    <br>Enter an limit value for words to the fourth box</br>
    What this algorithm does is it takes 2 arrays of strings and
    <br>if boolean value is true it returns the array of string that</br>
    first array contains and second does not, if it is false it returns
    <br> the array of strings that first array does not contain and</br>
    second one contains. # of words can be limited by the fourth parameter.


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
